@media  only screen 
  and (min-device-width: 791px) 
  and (max-device-width: 3000px) {
    .main-header{
        display:inline-flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        font-family: 'Lato';
        margin: 0;
        padding: 0;
        width: 100vw; 
        height: 20vh;
    }
    .menu-header {
        display:inline-flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        width: 50vw; 
        letter-spacing: 0.03em;
        font-size: 1rem;
        font-weight: bold;

    }
    .logo-header {
        display:inline-flex;
        width: 15vw;
        height: 4rem;
        justify-content: space-around;
    }
    .menu-item {
        color: white;
        font-style: none;
        text-decoration: none;  
    }
    .contact-bold{
        font-weight: bolder;
    }

    .main-footer{
        font-family: 'Lato';
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 20vh;
        display:inline-flex;
        justify-content: space-between;
        align-items: center;
        background-color: #7C9070;
        color: #FFFFFF;
        letter-spacing: 0.03em;
        font-size: 1rem;
        font-weight: bold;
        vertical-align: middle;
    }
    .menu-down {
        list-style: none;
        justify-content: space-between;
    }
    .contact-bold{
        font-weight: bolder;
    }
    .information{}
    .logo-footer{}

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 791px) {

    .main-header {
        font-family: 'Lato';
        display:inline-flex;
        margin: 0;
        padding: 0;
        width: 100vw; 
    }
    a {
        color: white;
        font-style: none;
        text-decoration: none;  
    }
    .logo-header {
        display:inline-flex;
        width: 10vw;
        height: 6%;
        justify-content: space-around;
    }
    .menu {
        display:none;
    }
    .menu-hamburger{
        height: 3rem;
        width: 3rem;
        align-self: center;
    }
}