
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; 
}

@media screen and (min-device-width: 320px) and (max-device-width: 791px) 
{
  body {
      font-size: 16px; 
      grid-template-columns: 1fr; 
      font-family: 'Lato', sans-serif;
    }

.title1{
  display: flex;
  flex-direction: column; 
  color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: .02rem;
  padding-bottom: 0rem;
  font-size: 2rem;
}
.services1{
  display: block;
  align-items: center;
  justify-content: center;
}
.image1{
  display: flex;
  flex-direction:column;
  width: 32rem;
  height: 30rem;
}
.subtitle1{
  display: flex;
  flex-direction: column; 
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color:rgb(249, 123, 34);
  font-size: 2rem;
 
}
 .paragraph1{
  display: flex;
  flex-direction: column; 
  color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-top: 0rem;
  padding: 1rem;
  font-size: 1.3rem;
  align-content: center;
 }

 .button-container1 {
  position: sticky;
  justify-items: center;
  width: 100%;
}

.button-packages1 {
  position: relative;
  padding: 0rem;
  width: 24rem;
  height: 3.5rem;
  color: white;
  background-color: rgba(156, 167, 119, 1);
  border-radius: 2rem;
  border-color: rgba(156, 167, 119, 1);
  font-size: 1.2rem;
  margin-top: -100%;
  margin-left: 15%;
}

.icon1 {
  position: relative;
  width: 3.5rem;
  height: 3.2rem;
  z-index: 1;
  margin-left: 80%;
  margin-top: 0%;
}

.image1 {
  position: relative;
}
  .image2{
    display: flex;
    flex-direction:column;
    align-items: center; 
    width: 100%;
    height: 90%;
    margin-top: 30%;
    margin-left: 1rem;
  }
  .subtitle2{
    display: flex;
    flex-direction: column; 
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color:rgb(249, 123, 34);
    font-size: 1.8rem;
    margin-top: 20%;
    text-align: center;
    margin: 0rem;
  }
  .paragraph2{
  display: flex;
  flex-direction: column; 
  color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: auto;
  padding-top: 0%;
  font-size: 1.3rem;
  text-align: center;
  }
  button-container2 {
    position: sticky;
  }
  
  .button-packages2 {
    position: relative;
    padding: 0rem;
    width: 70%;
    height: 3.5rem;
    color: white;
    background-color: rgba(156, 167, 119, 1);
    border-radius: 2rem;
    border-color: rgba(156, 167, 119, 1);
    font-size: 1.1rem;
    margin-left: 3.5rem;
    margin-right: 2rem;
    margin-top: 0%;
  }
  
  .icon2 {
    position: relative;
    width: 3.5rem;
    height: 3.2rem;
    z-index: 1;
    margin-left: 15%; 
  }
  .image3{
    display: flex;
    flex-direction:column;
    align-items: center; 
    width: 100%;
    height: 90%;
    margin-top: 30%;
  }
  .subtitle3{
    display: flex;
    flex-direction: column; 
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color:rgb(249, 123, 34);
    font-size: 1.8rem;
    margin-top: 20%;
  }
  .paragraph3{
    display: flex;
    flex-direction: column; 
    color: #000000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 0%;
    padding-top: 0%;
    font-size: 1.1rem;
    }
  .button-contact{
  position: relative;
  padding: .8rem;
  width: 60%;
  height: 3rem;
  color:white;
  background-color:black;
  border-radius: 3rem;
  border-color:black;
  margin-left: 2rem;
  font-size: 1.1rem;
  margin-top: -1%;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  }

  
}

@media screen and (min-device-width: 791px) and (max-device-width: 2000px)
 {
  body {
    padding: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
  }
  
  .title1 {
    display: flex;
    color: #000000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .image1 {
    position: relative;
    display: flex;
    width: 35%;
    height: 80%;
    flex-shrink: 0;
    margin-top: 5%;
    padding: 1%;
  }
  
  .subtitle1 {
    display: flex;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(249, 123, 34);
    font-size: 1.8rem;
    margin-top: -31%;
    margin-left: 40%;
    padding: 0%;
  }
  
  .paragraph1 {
    display: flex;
    color: #000000;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    margin-left: 30%;
    margin-right: 10%;
    font-weight: thin;
    margin-top: -33%;
    padding: 10%;
    margin-bottom: 3%;
  }
  
  .button-container1 {
    display: flex;
  }
  
  .button-packages1 {
    position: sticky;
    display: flex;
    width: 3rem;
    height: 3.7rem;
    color: white;
    background-color: rgba(156, 167, 119, 1);
    border-radius: 2rem;
    border-color: rgba(156, 167, 119, 1);
    font-size: 1.2rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -100%;  
  }
  
  .icon1 {
    position: sticky;
    display: flex;
    padding: 0%;
    width: 3%;
    height: 3.5%;
    z-index: 1;
    margin-left: 75%;
}
  .image2{
    display: flex;
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    margin-top: 15%;
    margin-left: 55%;
    padding: 1%;
  }
  .subtitle2{
    display: flex;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(249, 123, 34);
    font-size: 1.8rem;
    margin-top: -27vh;
    margin-left: 20vh;
    padding:0%;
  }
  .paragraph2{
  display: flex;
  flex-direction: column; 
  color: #000000;
  text-align:right;
  font-family: 'Lato', sans-serif;
  padding: 10%;
  font-size: 1.4rem;
  margin-right: 39%;
  margin-top: -8%;
  }
  button-container2 {
    display: flex;
  }
  
  .button-packages2 {
    position: sticky;
    display: flex;
    width: 3rem;
    height: 3.7rem;
    color: white;
    background-color: rgba(156, 167, 119, 1);
    border-radius: 2rem;
    border-color: rgba(156, 167, 119, 1);
    font-size: 1.2rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -100%;
  }
  
  .icon2 {
    position: sticky;
    display: flex;
    padding: 0%;
    width: 12%;
    height: 15%;
    z-index: 1;
    margin-left: 15%;
  }
  .image3{
    display: flex;
    flex-direction:column;
    width: 25%;
    height: 100%;
    margin-top: 20%;
    margin-left: 5%;
  }
  .subtitle3{
    display: flex;
    flex-direction: column; ;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color:rgb(249, 123, 34);
    font-size: 1.8rem;
    margin-top: -21%;
    margin-left: 35%;
  }
  .paragraph3{
    display: flex;
    flex-direction: column; 
    color: #000000;
    font-family: 'Lato', sans-serif;
    padding: 20%;
    font-size: 1.4rem;
    margin-left: 15%;
    margin-top: -20%;
    }
  .button-contact{
  display: flex;
  padding: .8rem;
  width: 15%;
  height: 3rem;
  color:white;
  background-color:black;
  border-radius: 3rem;
  border-color:black;
  margin-left: 2rem;
  font-size: 1.1rem;
  margin-top: -1%;
  justify-content: center;
  margin-left: 35%;
  margin-right: 20%;
  margin-top: -19%;
  }
  
}






















  
