:root{
    --border-radius-butons: 5em;
    --border-radius-img-top: 2rem;
    --padding-butons: 2em;
    --font-size-butons: 1rem;
    --dskt-border-radius-butons: 5em;
    --dskt-border-radius-img-top: 2rem;
    --dskt-padding-butons: 2em;
    --dskt-font-size-butons: 1rem;
    --header-height: 10vh;
    --footer-height: 27vh;
    --font-size-h2-top: 1.8rem;
    --font-size-text-top: 1.25rem;
    --font-size-h3-green: 1.25rem;
    --font-size-text-green: 0.8rem;
    --font-size-vision-main-title: 1.5rem;
    --font--size-vision-title: 1.2rem;
    --font--size-vision-txt: 0.9rem;
    --border-radius-img: 50rem;
    --dskt-font-size-h2-top: 2.5rem;
    --dskt-font-size-text-top: 2rem;
    --dskt-font-size-h3-green: 2rem;
    --dskt-font-size-text-green: 1.6rem;
    --dskt-font-size-vision-main-title: 2.2rem;
    --dskt-font--size-vision-title: 1.9rem;
    --dskt-font--size-vision-txt: 1.5rem;
    --dskt-border-radius-img: 60rem;
    --color-green: #7C9070;
    --color-orange: #F97B22;
    --color-white: white;
    --color-black: black;
    --mediaquery-break-max: 430px;
    --font-family:'Laso', sans-serif; 
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    max-width:100vw;
    font-family: var(--font-family);
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 767px) {
    .main-header{
        display:inline-flex;
        justify-content: space-around;
        align-items: center;
        vertical-align: middle;
        font-family: 'Lato';
        margin: 0;
        padding: 0;
        width: 100vw; 
        height: 20vh;
    }

    .logo-header {
        display:inline-flex;
        width: 20vw;
        justify-content: center;
    }

    .menu-header {
        display:inline-flex;
        list-style: none;
        justify-content: flex-end;
        gap:8vw;
        vertical-align: middle;
        width: 50vw; 
    }
    .menu-item {
        font-size: 1.2rem;
        font-style: normal;
        text-decoration: underline;
        text-decoration-color: #FFFFFF;
        color: black;
        font-weight: normal;
    }
    .contact-bold{
        font-weight: bolder;
    }
    .top-nav{
        display: none;
    }
    
    .main-footer{
        font-family: 'Lato';
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 30vh;
        display:inline-flex;
        justify-content: space-around;
        align-items: center;
        background-color: #7C9070;
        color: #FFFFFF;
        letter-spacing: 0.03em;
        font-size: 1rem;
        vertical-align: middle;
    }
    .menu-down {
        list-style: none;
        line-height: 2.5rem;
        padding: 0;
    }
    .menu-item-down{
        font-weight: normal;
        font-size: 1.2rem;
        font-style: none;
        text-decoration: underline;
        text-decoration-color: #7C9070;
        color: white;
    }
    .information{
        vertical-align: center;
    }
    .info-icon{
        width: 2.5vw;
        vertical-align: center;
    }
    .logo-footer{
        background-color: white;
        border-radius: 5%;
        padding: 2%;
        width: 10%;
        justify-content: center;
    }
    .topnav{
        display: none;
    }
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 767px) {

    .main-header{
    display: none;
    }
    .logo-header {
        display:inline-block;
        width: 45vw;
        justify-content: center;
    }
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        background: #ffffff;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #0000;
        height: 5em;
        padding: 1em;
        margin: 0em 1em;
    }
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .menu > li {
        margin: 0 1rem;
        overflow: hidden;
    }
    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle {
        display: none;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #000000;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }
    .menu-button::before {
        content: '';
        margin-top: -8px;
    }
    .menu-button::after {
        content: '';
        margin-top: 8px;
    }
    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }
    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(0, 0, 0, 0);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }
    .menu-button-container {
        display: flex;
        }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 7em;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
        border: 1px solid #9CA777;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        font-family: 'Lato';
        background-color: #7C9070;
        }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #9CA777;
    }
    .menu-item {
        text-decoration: underline;
        text-decoration-color: #7C9070;
        color: white;
        font-weight: normal;
    }
    .main-footer{
        font-family: 'Lato';
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 20vh;
        display:inline-flex;
        justify-content: space-around;
        align-items: center;
        background-color: #7C9070;
        color: #FFFFFF;
        letter-spacing: 0.03em;
        font-size: 0.6rem;
        vertical-align: middle;
    }
    .menu-down {
        display:none;
    }
    .information{
        width: 40%;
        vertical-align: center;
    }
    .info-icon{
        width: 2vw;
        vertical-align: center;
    }
    .logo-footer{
        background-color: white;
        border-radius: 5%;
        padding: 2%;
        width: 20%;
        justify-content: center;
    }
    .menu-down {
        display:none;
    }
}
/*.header{
    height: var(--header-height);
    background-color: var(--color-white);
    grid-area: header;
    margin-bottom: 0.5rem;
    display: flex;
}
.header-logo-img{
    width:30%;
}*/
.main-container{    
    background-color: var(--color-white);
    grid-area: main;
    display: grid;
    grid-template-areas:
    "presentation"
    "green-section"
    "vision";    
}
.presentation{
    grid-area: presentation;
    padding-top: 0.75rem;
    /*height: 75vh;*/
    /*display: grid;
    grid-template-areas:
    "image"
    "text"*/
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 12vh;

}
/*¿Queremos la imagen centrada*/
.presentation-text-container{
    grid-area: text;
    padding: 0 1rem;
    /*margin-top: 1rem;
    margin-left: 2rem;*/
    /*margin-bottom: 5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    flex-shrink: 4;
    padding-left: 2rem;
    flex-grow: 3rem;
}
.presentation-image{
    grid-area: image;
    width: 100vw;
    width: 65vw;
    padding-left: 0.2rem;
    flex-shrink: 4;
    border-radius: var(--border-radius-img-top);
}
.presentation-title{
    font-size: var(--font-size-h2-top);
    /*margin-left: 2rem 0;
    word-spacing: 0.01em;*/
    margin: 0;
    padding-left: 1.2rem;
    
}
.presentation-text{
    font-size: var(--font-size-text-top);
    /*left: 2%;*/
    font-weight: 545;
    padding-left: 1.2rem;
}
.presentation-btn{
    background-color: var(--color-black);
    width: 35vw;
    height: 5vh;
    text-decoration: none;
    font-size: var(--font-size-butons);
    padding: 0.2em auto;
    color: var(--color-white);
    border-radius: var(--border-radius-butons);
    margin-left: 1em;
    display: flex;
    min-width: 120px;
    max-width:200px;
    margin-top: 1rem;
    
}
.presentation-btn-text{
    display: flex;
    margin: 0 auto;
    align-self:center;
  
  
}
/*Empiezalo verde*/
.main-green-container{
    grid-area: green-section;
    background-color:  #7C9070;
    /*height: 37vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15vw;
    padding-right:15vw;
    padding: 3rem 4rem;
    padding-top: 1.5rem;
    color: var(--color-white)
   
}
.main-green-title{
    align-self: center;
    font-size: var(--font-size-h3-green);
    text-indent: 0.2rem;
    /*margin-top: 1vh;*/
    

}
.main-green-txt{
    font-weight: light;
    text-align: center;
    font-size: 0.9rem;
}
.green-btn{
    background-color:var(--color-white);
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--font-size-butons);
    margin-top: 1em;
    padding: 0.5em 1.4em;
    padding-right: 1rem;
    border-radius: var(--border-radius-butons);
    font-weight:700;
    min-width: 160px;
    max-width:200px;
    
}
.green-btn-txt{
    margin:0 auto;
    padding-left: 0.6rem
}
/*Vision Start.*/
.vision-left-container{
    grid-area: vision;
    display: grid;
    grid-template-areas:
    "title"
    "items";
    grid-template-rows: 1fr 4fr;
    margin: 2vh 0;
    
}
.vision-title-container{
    grid-area: title;
    justify-self: start;
    align-self: center;
    padding: 1rem;
    padding-left: 9vw;
    color: var(--color-orange);
    font-size: var(--font-size-vision-main-title);
}
.vision-items{
    grid-area: items;
    display: grid;
    grid-template-areas:
    "commitment innovation"
    "detail-oriented collaboration"
    ;
}
.commitment{
    grid-area:  commitment;
}
.innovation{
    grid-area: innovation;
}
.detail-oriented{
    grid-area: detail-oriented;
}
.collaboration{
    grid-area: collaboration;
}
.vision-item{
    /*width: 50vw;*/
    display: flex;
    flex-direction:column;
    justify-content: center;

}

.vision-item-img{
    width: 100%;
}
.vision-txt{
    margin:0 auto;
    padding:0.7rem 2rem;
    text-align: center;

}
.vision-item-title{
   font-size: var(--font--size-vision-title)
}
.vision-item-description{
   font-size: var(--font--size-vision-txt)
}
.vision-right-container{
    width: 0;
    height: 0;
}
.vision-image-img{
    width: 0;
}


/*.footer{
    background-color: var(--color-green);
}*/
@media  only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 3000px) {
    /*.header{
        height: var(--header-height);
        background-color: var(--color-white);
        grid-area: header;
        margin-bottom: 0.5rem;
        display: flex;
    }
    .header-logo-img{
        width:30%;
    }*/
    .main-header{
        display:inline-flex;
        justify-content: space-around;
        align-items: center;
        vertical-align: middle;
        font-family: 'Lato';
        margin: 0;
        padding: 0;
        width: 100vw; 
        height: 20vh;
    }

    .logo-header {
        display:inline-flex;
        width: 20vw;
        justify-content: center;
    }

    .menu-header {
        display:inline-flex;
        list-style: none;
        justify-content: flex-end;
        gap:8vw;
        vertical-align: middle;
        width: 50vw; 
    }
    .menu-item {
        font-size: 1.2rem;
        font-style: normal;
        text-decoration: underline;
        text-decoration-color: #FFFFFF;
        color: black;
        font-weight: normal;
    }
    .contact-bold{
        font-weight: bolder;
    }
    .top-nav{
        display: none;
    }
    
  
    .topnav{
        display: none;
    }

/*Footer y header acaban empiez main*/
    .main-container{
        background-color: var(--color-white);
        grid-area: main;
        display: grid;
        grid-template-areas:
        "presentation"
        "green-section"
        "vision";    
    }
    .presentation{
        grid-area: presentation;
        padding-top: 0.75rem;
        /*height: 75vh;*/
        /*display: grid;
        grid-template-areas:
        "image"
        "text"*/
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5rem;
        margin-bottom: 12vh;
    
    }
    /*¿Queremos la imagen centrada*/
    .presentation-text-container{
        grid-area: text;
        padding: 0 1rem;
        /*margin-top: 1rem;
        margin-left: 2rem;*/
        /*margin-bottom: 5rem;*/
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
        padding-top:  5rem;
        padding-left: 4rem;
    }
    .presentation-image{
        grid-area: image;
        width: 35vw;
        padding-left: 2 rem;
        flex-shrink: 4;
        border-radius: var(--dskt-border-radius-img-top);
    }
    .presentation-title{
        font-size: var(--dskt-font-size-h2-top);
        /*margin-left: 2rem 0;
        word-spacing: 0.01em;*/
        margin: 0;
        padding-left: 1.2rem;
        
    }
    .presentation-text{
        font-size: var(--dskt-font-size-text-top);
        /*left: 2%;*/
        font-weight: 545;
        padding-left: 1.2rem;
    }
    .presentation-btn{
        background-color: var(--color-black);
        width: 35vw;
        height: 5vh;
        text-decoration: none;
        font-size: var(--dskt-font-size-butons);
        padding: 0.2em auto;
        color: var(--color-white);
        border-radius: var(--dskt-border-radius-butons);
        margin-left: 1em;
        display: flex;
        min-width: 120px;
        max-width:200px;
        margin-top: 1rem;
        
    }
    .presentation-btn-text{
        display: flex;
        margin: 0 auto;
        align-self:center;
      
      
    }
    /*Empiezalo verde*/
    .main-green-container{
        grid-area: green-section;
        background-color:  #7C9070;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 15vw;
        padding-right:15vw;
        padding: 3rem 4rem;
        padding-top: 1.5rem;
        color: var(--color-white)
       
    }
    .main-green-title{
        align-self: center;
        font-size: var(--dskt-font-size-h3-green);
        text-indent: 0.2rem;
        /*margin-top: 1vh;*/
        
    
    }
    .main-green-txt{
        font-weight: light;
        text-align: center;
        font-size: var(--dskt-font-size-text-green);
    }
    .green-btn{
        background-color:var(--color-white);
        text-decoration: none;
        color: var(--color-black);
        font-size: var(--dskt-font-size-butons);
        margin-top: 1em;
        padding: 0.5em 1.4em;
        padding-right: 1rem;
        border-radius: var(--dskt-border-radius-butons);
        font-weight:700;
        min-width: 160px;
        max-width:200px;
        
    }
    .green-btn-txt{
        margin:0 auto;
        padding-left: 0.6rem
    }
    /*Vision Start.*/
    .vision{
    grid-area: vision;
    display: grid;
    grid-template-areas:
    "leftcontainer rightcontainer"
    }
    .vision-left-container{
        grid-area: leftcontainer;
        display: grid;
        grid-template-areas:
        "title"
        "items";
        grid-template-rows: 1fr 4fr;
        margin: 2vh 0;
        margin-left: 5vw;
        padding: 1rem;
        width: 85%;
        margin-bottom: 5rem;
        
    }
    .vision-title-container{
        grid-area: title;
        justify-self: start;
        align-self: center;
        padding: 1rem;
        padding-left: 9vw;
        color: var(--color-orange);
        font-size: var(--dskt-font-size-vision-main-title)
    }
    .vision-items{
        grid-area: items;
        display: grid;
        grid-template-areas:
        "commitment innovation"
        "detail-oriented collaboration"
        ;
    }
    .commitment{
        grid-area:  commitment;
        padding: 1rem;
    }
    .innovation{
        grid-area: innovation;
        padding: 1rem;
    }
    .detail-oriented{
        grid-area: detail-oriented;
        padding: 1rem;
    }
    .collaboration{
        grid-area: collaboration;
        padding: 0.5rem;
    }
    .vision-item{
        /*width: 50vw;*/
        display: flex;
        flex-direction:column;
        justify-content: center;
        
    }
    
    .vision-item-img{
        width: 90%;
        padding-left:6%;
    }
    .vision-txt{
        margin:0 auto;
        padding:0.7rem 2rem;
        text-align: center;
    
    }
    .vision-item-title{
       font-size: var(--dskt-font--size-vision-title)
    }
    .vision-item-description{
       font-size: var(--dskt-font--size-vision-txt)
    }
    .vision-right-container{
      grid-area: rightcontainer; 
      width: 30%;
      margin-right:0; 
      padding-right: 0;
    }
    .vision-image{
        margin-right: 0;
        padding-right: 0;
    }
    .vision-image-img{
        margin-right: 0;
        padding-right: 0;
        width: 37vw;
        min-width: 200px;
        padding-top: 15rem;
    }
    /*Empieza footer*/
    .main-footer{
        font-family: 'Lato';
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 30vh;
        display:inline-flex;
        justify-content: space-around;
        align-items: center;
        background-color: #7C9070;
        color: #FFFFFF;
        letter-spacing: 0.03em;
        font-size: 1rem;
        vertical-align: middle;
    }
    .menu-down {
        list-style: none;
        line-height: 2.5rem;
        padding: 0;
    }
    .menu-item-down{
        font-weight: normal;
        font-size: 1.2rem;
        font-style: none;
        text-decoration: underline;
        text-decoration-color: #7C9070;
        color: white;
    }
    .information{
        vertical-align: center;
    }
    .info-icon{
        width: 2.5vw;
        vertical-align: center;
    }
    .logo-footer{
        background-color: white;
        border-radius: 5%;
        padding: 2%;
        width: 10%;
        justify-content: center;
    }
    /*.footer{
        height: var(--footer-height);
        background-color: var(--color-green);
        
    }*/
    
    
}